<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.springcloud.mapper.UserMapper">

    <insert id="insert" parameterType="com.tian.springcloud.pojo.User">
        INSERT INTO `t_user`(`name`, `age`, `sex`)
        VALUES (#{name}, #{age}, #{sex});
    </insert>

    <select id="getList" resultType="com.tian.springcloud.pojo.User">
        SELECT *
        FROM t_user
    </select>

    <select id="selectById" resultType="com.tian.springcloud.pojo.User">
        SELECT *
        FROM t_user
        WHERE id = #{id}
    </select>

</mapper>