<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.springcloud.mapper.AccountMapper">

    <insert id="insert" parameterType="com.tian.springcloud.pojo.Account">
        INSERT INTO `springtest`.`account`(`name`, `money`)
        VALUES (#{name}, #{money});
    </insert>

    <select id="getList" resultType="com.tian.springcloud.pojo.Account">
        SELECT *
        FROM account
    </select>

    <select id="selectById" resultType="com.tian.springcloud.pojo.Account">
        SELECT *
        FROM account
        WHERE id = #{id}
    </select>

</mapper>